# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS specific
.DS_Store
Thumbs.db

# Project specific
logs/
temp/
bin/
*.exe
*.deb
*.o
*.out
